<script>
	import { onMount } from "svelte";
	let ipc = require("electron").ipcRenderer;
	const rep = (e, arg) => {
		if (typeof JSON.parse(arg) == "object") {
			console.log(arg);
			stores = JSON.parse(arg);
		} else {
			total += parseInt(arg);
		}
	};
	onMount(() => {
		ipc.on("reply", rep);
		return () => ipc.removeListener("reply", rep);
	});
	function settings() {
		ipc.send("settings", form);
	}

	function gastar() {
		console.log(form.store);
		ipc.send("msg", form);
	}

	let total = 0;
	let stores = [];
	let disabled = "disabled";
	$: if (form.nrop > 0 && form.store != "-") {
		disabled = null;
	} else {
		disabled = "disabled";
	}

	//TODO calcular host y puerto en base a las tiendas
	let form = {
		port: 2222,
		host: "localhost",
		nrop: 0,
		store: "-",
	};
</script>

<main>
	<section class="section">
		<div class="container">
			<div class="is-flex is-justify-content-flex-end">
				<button on:click={settings} class="button">
					<span class="icon"> <i class="fas fa-cog" /> </span>
				</button>
			</div>

			<div>
				<h1 class="title">Cliente B</h1>

				<p class="subtitle">Total de productos pedidos: {total}</p>
				<div class="columns">
					<div class="column">
						<div class="control">
							<input
								bind:value={form.port}
								class="input"
								type="number"
								placeholder="Puerto" />
						</div>
					</div>
					<div class="column">
						<div class="control">
							<input
								bind:value={form.host}
								class="input"
								type="text"
								placeholder="Host" />
						</div>
					</div>
				</div>

				<div class="field">
					<label class="label" for="cantProductos">Pedir</label>
					<div class="control">
						<input
							bind:value={form.nrop}
							class="input"
							type="number"
							id="cantProductos"
							placeholder="Cantidad de productos" />
					</div>
				</div>

				<div class="field">
					<label class="label" for="selectTienda">A la tienda</label>
					<div
						class="select is-primary is-fullwidth"
						id="selectTienda">
						<select bind:value={form.store}>
							<option value="-">Seleccione una tienda</option>
							{#each stores as { host, port }}
								<option value="{host}:{port}">
									{host}:{port}
								</option>
							{/each}
						</select>
					</div>
				</div>

				<button
					on:click={gastar}
					{disabled}
					class="button is-primary is-fullwidth">
					Gastar
				</button>
			</div>
		</div>
	</section>
</main>
