<script>
	let ipc = require("electron").ipcRenderer;
	ipc.on("reply", (e, arg) => {
		if (typeof JSON.parse(arg) == "object") {
			console.log(arg);
			stores = JSON.parse(arg);
		} else {
			total += parseInt(arg);
		}
	});
	function settings() {
		ipc.send("settings", form);
	}

	function disminuir() {
		ipc.send("msg", form);
	}

	let total = 0;
	let stores = [];
	let disabled = "disabled";
	$: if (form.nrop > 0 && form.store != "-") {
		disabled = null;
	} else {
		disabled = "disabled";
	}

	//TODO calcular host y puerto en base a las tiendas
	let form = {
		port: 3333,
		host: "localhost",
		nrop: 0,
		store: "-",
	};
</script>

<main>
	<div class="d-flex justify-content-end">
		<button on:click={settings} class="btn btn-outline-secondary">
			<i class="fas fa-cogs" />
		</button>
	</div>

	<div
		class="d-flex align-items-center justify-content-center"
		style="height: 500px">
		<div>
			<h1 class="m-4 text-center">Cliente C</h1>
			<div class="d-flex">
				<div class="form-floating mb-3 me-3">
					<input
						bind:value={form.port}
						type="number"
						class="form-control"
						id="puertoInput"
						placeholder="name@example.com" />
					<label for="puertoInput">Puerto</label>
				</div>
				<div class="form-floating mb-3">
					<input
						bind:value={form.host}
						type="text"
						class="form-control"
						id="hostInput"
						placeholder="name@example.com" />
					<label for="hostInput">Host</label>
				</div>
			</div>
			<div class="form-floating mb-3">
				<input
					bind:value={form.nrop}
					type="number"
					class="form-control"
					id="pedirInput"
					placeholder="3" />
				<label for="pedirInput">Pedir nº productos</label>
			</div>
			<div class="form-floating mb-3">
				<select
					bind:value={form.store}
					class="form-select"
					id="tiendaSelect">
					<option value="-">Seleccione una tienda</option>
					{#each stores as { host, port }}
						<option value="{host}:{port}">{host}:{port}</option>
					{/each}
				</select>
				<label for="tiendaSelect">A la tienda</label>
			</div>
			<div class="d-grid mb-3">
				<button
					on:click={disminuir}
					{disabled}
					class="btn btn-dark"
					type="button">Disminuir</button>
			</div>
			<h6>Total de productos pedidos: {total}</h6>
		</div>
	</div>
</main>
